### JOINTS

Para demostrar estas funciones, creemos primero la tabla Customers (Clientes) y Orders (Pedidos) como se muestra en la siguiente imagen utilizando el siguiente script:

In [ ]:
CREATE DATABASE SqlHintsJoinDemo

USE SqlHintsJoinDemo

--Crear tabla 'Customers' e insertar registros
CREATE TABLE Customers( 
CustomerId INT, 
Name VARCHAR(50) 
)

INSERT INTO Customers(CustomerId, Name) VALUES(1,'Shree')
INSERT INTO Customers(CustomerId, Name) VALUES(2,'Kalpana')
INSERT INTO Customers(CustomerId, Name) VALUES(3,'Basavaraj')

 
--Crear tabla 'Orders' e insertar registros
CREATE TABLE Orders(
OrderId INT, 
CustomerId INT, 
OrderDate DateTime)

INSERT INTO Orders(OrderId, CustomerId, OrderDate) VALUES(100,1,Getdate()-1)
INSERT INTO Orders(OrderId, CustomerId, OrderDate) VALUES(200,4,Getdate())
INSERT INTO Orders(OrderId, CustomerId, OrderDate) VALUES(300,3,Getdate()+1)

<center><img src="https://i.postimg.cc/brHv5LTg/join1.jpg"></center>

#### INNER JOIN

In [ ]:
SELECT * 
FROM  Customers C 
        INNER JOIN Orders O
            ON O.CustomerId = C.CustomerId

<center><img src="https://i.postimg.cc/qR2nkswh/join2.jpg"></center>

#### LEFT JOIN

In [ ]:
SELECT * 
FROM  Customers C 
        LEFT OUTER JOIN Orders O
            ON O.CustomerId = C.CustomerId

<center><img src="https://i.postimg.cc/KvtMBDh0/join3.jpg"></center>

#### RIGHT JOIN

In [ ]:
SELECT *
FROM  Customers C 
        RIGHT OUTER JOIN Orders O
            ON O.CustomerId = C.CustomerId

<center><img src="https://i.postimg.cc/RZrTz04D/join4.jpg"></center>

#### FULL JOIN

In [ ]:
SELECT *
    FROM Customers C
            FULL OUTER JOIN Orders O
                ON O.CustomerId = C.CustomerId

<center><img src="https://i.postimg.cc/sD02NnCj/join5.jpg"></center>

#### CROSS JOIN

El Cross join también se conoce como producto cartesiano. Por cada fila de la tabla IZQUIERDA del CROSS JOIN se devuelven todas las filas de la tabla DERECHA y viceversa (es decir, el resultado tendrá el producto cartesiano de las filas de las tablas unidas).

In [ ]:
SELECT *
FROM Customers C
        CROSS JOIN Orders O

<center><img src="https://i.postimg.cc/ht5phqFk/join6.jpg"></center>